# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.gitignore
target/classes/application-dev.yml
target/classes/application.yml
target/classes/static/css/
target/classes/static/font-awesome-4.7.0/
target/classes/static/images/
target/classes/static/img/
target/classes/static/ipcss/
target/classes/static/ipjs/
target/classes/static/js/Person-center.js
target/classes/static/js/adminEdit.js
target/classes/static/js/adminIndex.js
target/classes/static/js/adminUserList.js
target/classes/static/js/area.js
target/classes/static/js/article.js
target/classes/static/js/bootstrap.min.js
target/classes/static/js/distpicker.js
target/classes/static/js/foget.js
target/classes/static/js/index.js
target/classes/static/js/ipindex.js
target/classes/static/js/jquery-3.3.1.min.js
target/classes/static/js/jquery.min.js
target/classes/static/js/login.js
target/classes/static/js/modify.js
target/classes/static/js/move.js
target/classes/static/js/personal.js
target/classes/static/js/register.js
target/classes/templates/Password.html
target/classes/templates/RetrievePassword.html
target/classes/templates/admin/
target/classes/templates/article.html
target/classes/templates/ask.html
target/classes/templates/changePassword.html
target/classes/templates/comment.html
target/classes/templates/common/
target/classes/templates/login.html
target/classes/templates/material.html
target/classes/templates/pcvideo.html
target/classes/templates/phone/Article-push.html
target/classes/templates/phone/Article.html
target/classes/templates/phone/Ask-questions.html
target/classes/templates/phone/Find-the-answer.html
target/classes/templates/phone/List-of-articles.html
target/classes/templates/phone/Nickname.html
target/classes/templates/phone/Video-rankings.html
target/classes/templates/phone/VideoList.html
target/classes/templates/phone/address.html
target/classes/templates/phone/demo.html
target/classes/templates/phone/demo2.html
target/classes/templates/phone/info-recmd.html
target/classes/templates/phone/insect.html
target/classes/templates/phone/ipcollection.html
target/classes/templates/phone/ipeditkey.html
target/classes/templates/phone/ipinfo.html
target/classes/templates/phone/iplogin.html
target/classes/templates/phone/ipregister.html
target/classes/templates/phone/search-a.html
target/classes/templates/phone/search.html
target/classes/templates/phone/video.html
target/classes/templates/register-1.html
target/classes/templates/register.html
target/classes/templates/search.html
target/classes/templates/videomore.html
target/generated-sources/
target/generated-test-sources/
target/test-classes/
