.header {
	width: 100%;
	height: 50px;
	color: #fff;
	line-height: 50px;
	font-family: "monotype corsiva";
	/*background-color: #599524;*/
	background-color: #25C6FC;
	/*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}
*{
	margin: 0;
	height: 0;
}
a{
	text-decoration: none;
}
.video-import{
	padding: 4%;
	min-height: 570px;
	position: relative;
}
.l{
	height: 136px;
}
h3{
	height: 36px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.video-import .l a{
	display: inline-block;
	width: 100%;
	min-height: 136px;
}
.video-import .l a img{
	width: 100%;
	height: 136px;
}
.lists{
	padding: 4%;
	height: 188px;
}
.lists ul li{
	list-style-type: none;
	line-height: 35px;
	width: 100%;
	height: 37px;
	border-bottom: 1px dotted #e9e9e9;
	margin-bottom: 10px;
}
.lists ul li span{
	width: 72%;
	height: 37px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.video_count{
	margin: 12px 0;
	width: 100%;
	height: 40px;
}
.video_count a{
	display: inline-block;
	width: 35%;
	height: 37px;
	text-align: center;
	line-height: 32px;
	border-radius: 5px;
	margin: 0 5%;
	color: #fff;
	background-color: #5CB85C;
}
.teacher{
	border-bottom: 1px dotted #e9e9e9;
	height: 121px;
	overflow: hidden;
	margin: 32px 0;
}
.teacher b{
	display: inline-block;
	height: 20px;
}
.teacher p{
	text-indent: 2em;
	padding: 4% 0;
	height: 101px;
	text-overflow: ellipsis;
	display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
	-webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
	-webkit-line-clamp: 4; /** 显示的行数 **/
	overflow: hidden;  /** 隐藏超出的内容 **/
}