* {
    padding: 0;
    margin: 0;
}
body{
    font-size: 12px;
    overflow: scroll;
}
.tab::-webkit-scrollbar
{
    width: 0px;

    height: 0px;
}
.tab-list  {
    text-align: center;
   	font-family: "微软雅黑";
    border-bottom: none;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
}
.tab-list>li:hover{
    cursor: pointer;
}
.tab-list>li {
    float: left;
    border-right: none;
    width: 30%;
    line-height: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    margin-right: 4.5%;
    font-size: 15px;
    list-style: none;
    bottom: 0;
}

.tab-list>li:last-of-type {
    margin-right: 0;
}
.tab-content>li {
    width: 100%;
    margin-bottom: 70px;
    margin-top: 50px;
    
}
.red{
	color: #25C6FC;
}
@font-face {
  font-family: 'iconfont';  /* project id 652364 */
  src: url('//at.alicdn.com/t/font_652364_x5et6vbvc7q.eot');
  src: url('//at.alicdn.com/t/font_652364_x5et6vbvc7q.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_652364_x5et6vbvc7q.woff') format('woff'),
  url('//at.alicdn.com/t/font_652364_x5et6vbvc7q.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_652364_x5et6vbvc7q.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    /*font-size: 25px;
    color: #fff;*/
    text-align: center;
}
/*首页*/
.header {
  	width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    letter-spacing: 5px;
    background-color: #25C6FC;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
}
.header>span>a>i{
	color: #fff;
}
/*轮播*/
.con-lun{
    height: 125px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.wrip-img{
    width:0px;
    height:100%;
    overflow: hidden;
    display: block;
    position: absolute;
    top:0px;
    transition: all 1s;
}
.max{
    width:100%;
    z-index:99;
}
.right{
    right:0;
}
.wrip-img img{
    width:100%;
    height:100%;
}
.arrow {
    position: absolute;
    top: 0px;
    z-index: 99;
    display:block;
    width: 60px;
    height:100%;
    font-size: 15px;
    font-weight: bold;
    line-height:125px;
    text-align: center;
    color: #fff;
    z-index: 999;
}
.arrow:hover {
    background: linear-gradient(to left,#f9f9f9,#f1f1f1);
    background: rgba(0,0,0,0.1);
}
#prev {
    left:0px;
}
#next {
    right: 0px;
}
/*第二部分*/
.section{
	width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.plate{
	    display: inline-block;
    float: left;
    width: 12%;
    letter-spacing: 3px;
    margin: 0.66% 6.5%;
    padding-top: 8px;
    text-decoration: none;
    color: #000;
}
.plate>a{
  	display: block;
    text-align: center;
    border-radius: 50px;
    margin: 4.66% 3.5%;
    padding-top: 8px;
    text-decoration: none;
    color: #000;
    padding-bottom: 8px;
}

.videoRecommend{
    padding: 4%;
    padding-bottom: 2%;
}
.hotask{
	padding: 4%;
	padding-top: 0;
}
.font{
    line-height: 20px;
    overflow: hidden;
    border-bottom: 1px solid #999;
}
.font-p{
    color: #333;
    display: inline-block;
    float: left;
    padding-left: 2%;
}
a{
    text-decoration: none;
}
.font>span>a{
    color: lightblue;
}
.limit{
    width: 100%;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
   text-align: center;
}
.show>ul{
	list-style-type: none;
 	width: 100%;
    margin-top: 4%;
    white-space: nowrap;
   	overflow-x: auto;
}
.show>ul>li{
	display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
	
}
.plate>b{
	white-space: nowrap;
	width: 60px;
	overflow: hidden;
	text-overflow:ellipsis;
	display: block;
}
.user{
	padding: 4%;
	padding-bottom: 10px;
	padding-top: 10px;
	overflow: hidden;
}
.user>ul{
	overflow: hidden;
}
.li-advater,.li-info{
	display: inline-block;
	float: left;
}
.li-info{
	border-bottom: 1px solid #999;
	padding-bottom: 5px;
}
#advater{
	font-size: 40px;
	color: orangered;
}
.info>div>span{
	color: #999;
	font-size: 12px;
}
.areasty{
	float: right;
	margin-right: 2%;
	width: 20%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.solution{
	width: 80%;
	margin-left: 20%;
	list-style-type: none;
}
.solution>li{
	padding-bottom: 12px;
	 
}
.qusetionsty{
	width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}
.qusetion-bgc{
	width: 80%;
	border-radius:4px;
	background: #F0F8FF;
	padding: 2%;
	color: #999;
}
/*第二部分我的收藏*/
.videoarea{
	padding: 10px;
	overflow: hidden;
	margin: 0 auto;
}
.video{
	padding: 4%;
	background: #FFFCF5;
	overflow: hidden;
	border-bottom: 1px solid #999;
	
}
.font-left{
	float: left;
	width: 70%;
	display: inline-block;
	text-overflow: ellipsis; 
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/ 
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 3; /** 显示的行数 **/ 
    overflow: hidden;  /** 隐藏超出的内容 **/
   padding-right: 2%;
}
.video-right{
	float: left;
	display: inline-block;
	width: 28%;
	cursor: pointer;
}

/*第三部分*/
.user-at{
	padding-right: 15%;
	padding-left: 15%;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}
.user-at>div{
	display: inline-block;
	vertical-align:middle;
	
}
.user-at>div>h2{
	font-family: "微软雅黑";
	opacity: 0.7;
	
}
.user-at-font{
	color: #999;
	text-decoration: none;
	font-size: 10px;
}
.lists{
	padding: 4%;
}
.lists>ul{
	list-style-type: none;
}
.lists>ul>li{
	line-height: 35px;
	margin-bottom: 10px;
}
.lists>ul>li>span>a{
	color: #000000;
	font-size: 15px;
    width: 90%;
    display: inline-block;
}
.lists>ul>li>span>i{
	font-size: 14px;
}
