*{
	padding: 0;
	margin: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 652364 */
  src: url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.eot');
  src: url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.woff') format('woff'),
  url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    /*font-size: 25px;
    color: #fff;*/
    text-align: center;
}
.header {
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    font-family: "monotype corsiva";
    /*background-color: #599524;*/
    background-color: #25C6FC;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}
body{
	font-size: 15px;
}
a{
	text-decoration: none;
}
.header>span>a{
	color: #fff;
}
.bar7 {
	background: #7BA7AB;
	display: inline-block;
	} 
.bar7 form { height: 42px; } 
.bar7 input { 
	width: 170px; 
	border-radius: 42px; 
	border: 2px solid #fff; 
	/*background: #F9F0DA;*/ 
	transition: .3s linear; 
	float: right; 
	padding: 2%;
	margin-top: 10px;	
	position: absolute;
    right: 85px;
    outline: none;							
} 
.bar7 input:focus { width: 200px; }
.bar7 button { 
	background: none;
    top: 18px;
    border: none;
    outline: none;
    position: absolute;
    right: 99px;
} 							
.bar7 button:before{ 
	content: "\f002"; 
	font-family: FontAwesome; 
	color: #324b4e; 
} 																													