*{
	padding: 0;
	margin: 0;
}
@font-face {
  font-family: 'iconfont';  /* project id 652364 */
  src: url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.eot');
  src: url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.woff') format('woff'),
  url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_652364_u0ifc0dfyb.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    /*font-size: 25px;
    color: #fff;*/
    text-align: center;
}
.header {
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    font-family: "monotype corsiva";
    position: fixed;
    z-index: 9999;
    background-color: #25C6FC;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}
body{
	font-size: 15px;
}
a{
	text-decoration: none;
}
.header>span>a{
	color: #fff;
}
.btn-keep{
	border: transparent;
	background: #25C6FC;
	color: #fff;
	outline: none;
}
.qusetion-show{
	padding: 4%;
}
.kuang{
	margin-top: 50px;
}
.font{
	background: #F0F8FF;
	padding: 2%;
}
.qusetion{
	margin-top: 10px;
	padding: 2%;
}
.picture{
	padding: 4%;
}
/*上传图片按钮*/
.upload{
   	display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.sl-custom-file {
    position: relative;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    overflow: hidden;
    vertical-align: middle;
}
.btn-file{
    background-color: transparent !important;
    color: #fff !important;
    border: 1px solid transparent !important;
    /*width: 150px !important;*/
    border-radius: 0 !important;
}
.sl-custom-file .ui-input-file {
    position: absolute;
    right: 0;
    top: 0;
    _zoom: 30;
    font-size: 300px \9;
    height: 100%;
    _height: auto;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
}