*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
li{ list-style-type: none;}
a{
	text-decoration: none;
	color: #000;
}
input,button{
	outline: none;
	border: none;
}
.header {
    width: 100%;
    height: 50px;
    color: #fff;
    line-height: 50px;
    font-family: "monotype corsiva";
    /*background-color: #599524;*/
    background-color: #25C6FC;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
}
body{
	font-size: 15px;
}
a{
	text-decoration: none;
}
.header>span>a{
	color: #fff;
}
.video-title{
	margin-bottom: 18px;
    height: 36px;
    line-height: 36px;
    padding: 0 1rem;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.video-title a{
	display: inline-block;
	width: 100%;
	height: 36px;
}
.video-title a i{
	float: right;
	line-height: 36px;
	color: #E8E1D9;
}
.video-import{
	padding: 4%;
	min-height: 320px;
	position: relative;
}
.video-import a{
	display: inline-block;
	width: 45%;
    min-height: 100px;
    margin: 2%;
}
.video-import a img{
	width: 100%;
	height: 100%;
}
.video-import a p{
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.video-ico{
	position: absolute;
	top: 45px;
	margin-left: 54px;
	font-size: 42px;
	text-align: center;
}
@font-face {
  font-family: 'iconfont';  /* project id 652364 */
  src: url('//at.alicdn.com/t/font_652364_lz5xx52qbv.eot');
  src: url('//at.alicdn.com/t/font_652364_lz5xx52qbv.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_652364_lz5xx52qbv.woff') format('woff'),
  url('//at.alicdn.com/t/font_652364_lz5xx52qbv.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_652364_lz5xx52qbv.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}