.big-boeder{
	width: 1200px;
	margin: 60px auto;
}
.border
{
	position: relative;
	width: 1000px;
	border: 1px solid #C0C0C0;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	overflow: hidden;
}
.ask-left{
	width: 750px;
	float: left;
}

h3{
	margin: 0 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ask-left{
	border-right: 1px dashed #C0C0C0;
}
.ask-left a{
	display: inline-block;
	width: 100%;
	height: 25px;
}
.ask-time{
	padding: 20px;
	font-size: 14px;
	border-bottom: 1px dashed #C0C0C0;
}
.ask-import{
	padding: 20px;
	font-size: 14px;
}
.ask-title{
	text-indent: 2em;
	min-height: 175px;
}
.ask-import img{
	height: 450px;
	width: 375px;
	margin: 20px 0;
}
.ask-right{
	float: right;
	width: 240px;
}
.ask-img{
	margin: 20px 0;
	text-align: center;
}
.ask-img img{
	width: 88px;
	height: 88px;
	border-radius: 100%;
}
.ask-area{
	margin-bottom: 12px;
	border-bottom: 1px dashed #C0C0C0;
}
.ask-area i{
	color: #FCD62C;
	display: inline-block;
	height: 24px;
}
.area{
	text-align: center;
	margin: 12px 0;
}
.ask-area span{
	display: inline-block;
	height: 24px;
	margin-left: 12px;
}
.ask-area span:after{
	content: ":";
}
.ask-area b{
	font-weight: 400;
	margin-left: 24px;
}
@font-face {
  font-family: 'iconfont';  /* project id 755547 */
  src: url('//at.alicdn.com/t/font_755547_i99je4p7ndp.eot');
  src: url('//at.alicdn.com/t/font_755547_i99je4p7ndp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_755547_i99je4p7ndp.woff') format('woff'),
  url('//at.alicdn.com/t/font_755547_i99je4p7ndp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_755547_i99je4p7ndp.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}