.wrapper {
    min-width: 1200px;
    padding: 25px 0;
    border-top: 5px solid #73A204;
}
.contain {
    width: 1200px;
    margin: 0 auto;
}
.wrapper-time {
    margin: 18px 48px;
    color: #999;
}
/*中间部分*/
.nav {
    overflow: hidden;
    position: relative;
    border-top: 1px #999 solid;
}
.wrapper-l {
    float: left;
    width: 720px;
}
.wrapper-p {
    width: 100%;
    padding: 16px;
    border-bottom: 1px dashed #C0C0C0;
}
.wrapper-p a{
	font-size: 14px;
}
/*搜索*/
.material-nav{
	margin: 12px 0;
}
.material-nav a,.material-nav a img{
	width: 145px;
	height: 88px;
	float: left;
	margin-right: 15px;
}
.material-p span{
	text-indent: 2em;
	line-height: 26px;
	font-size: 14px;
	text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 4; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/

}
.hot-comment{
	padding: 12px;
}
.hot-ulist{
	padding: 12px 0;
}
.hot-ulist ul li{
	height: 75px;
	padding: 12px 0;
	border-bottom: 1px dashed #C0C0C0;
}
.hot-ulist ul li img{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	float: left;
	margin-top: 6px;
}
.hot-cont{
	margin-left: 72px;
}
.hot-cont b{
	display: inline-block;
	height: 30px;
}
.hot-com{
	height: 30px;
	width: 600px;
	color: #333;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hot-time{
	float: right;
} .hot-time span{
	display: inline-block;
	height: 20px;
}
.hot-time span:last-child{
	margin-left: 12px;
}
/*我来说几句*/
.recommendation textarea{
	width: 100%;
	height: 160px;
	margin: 12px 4px;
	padding: 12px 6px;
	text-indent: 2em;
	resize: none;
	border-radius: 5px;
}
/*我要评论*/
.recommend{
	float: right;
	color: #fff;
	margin-top: 14px;
	position: relative;
	left: 20px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	font-size: 14px;
	padding: 4px 12px;
	transition: all .5s; 
	background-color: #15AB9F;
}
.recommend:hover{
	cursor: pointer;
	background-color:#31B0D5;
}
.wrapper-r {
    float: right;
    width: 420px;
    padding: 16px 0;
}
.wrapper-r h2{ 
	padding-bottom: 12px;
	border-bottom: 1px dashed #C0C0C0;
}
.wrapper-r a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*弹框*/
/*加入 书签成功*/
.bookshelf{
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -35px 0 0  -100px;
    background-color: #1a1a1a;
    color: #fff;
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
    z-index: 99;
}
.bookshelf{
		animation:rotate 0.2s infinite;
		animation-iteration-count: 4;
}
@keyframes rotate
{
	from {transform: rotate(30deg);}
	to {transform: rotate(-30deg);}
}.none{
    display: none;
}
.block{
    display: block;
}