*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
li{ list-style-type: none;}
a{
	text-decoration: none;
	color: #000;
}
input,button{
	outline: none;
	border: none;
}
body{
	z-index: 99;
}
#header{
	min-width: 1000px;
}
.header{
	width: 1000px;
	margin: 0 auto;
	padding: 35px 0;
}
.header a{
	display: inline-block;
	height: 100px;
	font-family: "宋体";
}
.header img{
	width: 103px;
	height: 100px;
}
.header span{
	display: inline-block;
	height: 100px;
	line-height: 100px;
	vertical-align: 36px;
	font-size: 18px;
}
.header span i{
	font-size: 48px;
	color: #5CB85C;
	font-family: "monotype corsiva";
}
.header span b{
	letter-spacing: 5px;
	font-family: "宋体";
}
.login-core{
	min-width: 1200px;
	margin-bottom: 12px;
}
.login-img{
	/*background: url("../images/timg (12).jpg") center  no-repeat;*/
	overflow: hidden;
	background-size:cover;
	height:100%;
	width:100%;
}
.section{
	width: 360px;
	min-height: 448px;
	position: relative;;
	left: 50%;
	margin-left: -180px;
	border-radius: 5px;
	z-index: 99;
	background: rgba(255, 255, 255, .5);
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.section:hover{
	transform:translate(0,-30px);
	-webkit-transform:translate(0,-30px);
	-moz-transform:translate(0,-30px);
	-o-transform:translate(0,-30px);
	-ms-transform:translate(0,-30px);
}
.section h2{
	text-align: center;
	font-family: "宋体";
	padding: 50px 0 24px 0;
}
.login-import{
	padding: 0 18px;
}
.login-import form{
	text-align: center;
	position: relative;
}
.login-import input{
	width: 222px;
	height: 32px;
	padding-left: 12px;
	margin: 6px 0;
	border-radius: 5px;
	border: 2px solid #F9F0DA;
}
.login-import input:focus,.register-l input:focus{
	border-color: #5CB85C;
}
.foget-item{
	height: 80px;
}
.foget-item b{
	display: inline-block;
	width: 72px;
	font-weight: 400;
}
.foget-item p{
	text-align: right;
	margin-left: 68px;
	color: orangered;
	height: 20px;
	font-size: 12px;
	transition: all 1.2s;
}
.foget-item span{
	font-size: 12px;
	color: #9D9D9D;
}
.foget-item span a b{
	color: #5CB85C;
	width: 84px;
}
/*记住密码*/
.rember{
	position: relative;
	height: 44px;
	font-size: 12px;
}
.rember input{
	width: 16px;
	height: 16px;
	position: absolute;
	left: 24px;
	top: 6px;
}
.rember label{
	position: absolute;
	left: 51px;
	top: 12px;
}
.rember span{
	position: relative;
	float: right;
	right: 12px;
	top: 12px;
}
.rember span a{
	color: #5CB85C;
}
/*修改密码 确认*/
.sub-input input{
	margin-right: 12px;
	float: right;
	width: 228px;
	height: 40px;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	border: 2px solid transparent;
	cursor: pointer;
	font-family: "宋体";
	text-align: center;
	background-color: #5CB85C;
}
/*底部*/
.foo{
	width: 1200px;
	margin: 0 auto;
	padding-top: 20px;
	border-top: 1px solid #E9E9E9;
	margin-top: 36px;
}
.bottom-line{
	width: 800px;
	margin: 0 auto;
}
.bottom-line a{
	text-decoration: none;
	color: #999;
	border-right: 1px solid #99979C;
	font-size: 12px;
	font-family: "宋体";
	display: inline-block;
	width: 73px;
	text-align: center;
	line-height: 25px;
}
.bottom-line a:last-child{
	border-right: none;
}
.foo>p{
	color: #999;
	font-size: 12px;
	line-height: 25px;
}