*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
li{ list-style-type: none;}
a{
	text-decoration: none;
	color: #000;
}
input,button{
	outline: none;
	border: none;
}
body{
	background-color: aliceblue;
}
/*顶部导航栏*/
.head{
	background-color: #fff;
	min-width: 1200px;
}
.header{
	height: 60px;
	line-height: 60px;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.header-left{
	height: 60px;
	width: 200px;
	float: left;
	margin-right: 12px;
}
.header-left a{
	position: absolute;
	height: 60px;
	font-weight: 600;
	font-size: 18px;
}
.header-left a:hover,.header-right a:hover{
	text-decoration: none;
}
.header-left a img{
	width: 70px;
	height: 60px;
}
.header-left b{
	font-size: 28px;
	color: #5CB85C;
	font-family: "宋体";
	vertical-align: 20px;
}
.header-right{
	float: right;
}
.header-right a{
	display: inline-block;
	margin: 0 18px;
	transition: all 0.5s;
	letter-spacing: 3px;
	border-bottom: transparent 1px solid;
}
.header-right a i{
	font-size: 16px;
	margin-right: 8px;
}
.header-right a:hover{
	color: #73A204;
	border-bottom: #73A204 1px solid;
}
#qr-code{
	margin-right: 32px;
	cursor: pointer;
}
.search{
	float: right;
	position: relative;
	right: 52px;
}
.search form {
	position: relative;
	top: 8px;
	height: 45px;
}
.search form input{
	width: 250px;
	height: 42px;
	border-radius: 42px;
	background: #F9F0DA;
	transition: .3s linear;
	float: right;
	padding-left: 13px;
}
.search form input:focus {
	width: 300px;
}

.search button {
	width: 42px;
	height: 42px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ff6600;
	cursor: pointer;
}
.search button:before {
	content: "\f002";
	font-family: FontAwesome;
	color: #324b4e;
	color: #fff;
}
/*下拉列表*/
.spin{
	display: none;
	width: 300px;
	position: absolute;
	top: 60px;
	padding: 0 12px;
	background-color: #fff;
}
.spinners{
	width: 292px;
	border-radius: 5px;
}
.spinners a{
	color: #000000!important;
	display: inline-block;
	width: 100%;
	height: 32px;
	font-size: 14px;
	line-height: 32px;
	border-radius: 5px;
	transition: all .5s;
	border-bottom: 1px dotted #5CB85C;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.spinners a:hover{
	background-color: #5CB85C;
	color: #fff;
	text-decoration: none;
}
/*二维码*/
.qr-code{
	width: 130px;
	height: 135px;
	padding: 12px;
	position: absolute;
	right: 12px;
	top: 48px;
	z-index: 99;
	background-color: white;
	display: none;
	cursor: pointer;
	box-shadow: 2px 2px 5px grey;
}
.qr-code img{
	width: 100%;
	height: 130px;
}
/*尾部*/
footer{
	width:100%;
	min-width: 1200px;
	background-color: #15AB9F;
}
.divFt{
	width: 1200px;
	margin: 0 auto;
	/*padding: 0 10px ;*/

}
dl{
	display: inline-block;
	width: 200px;
	text-align: center;
	vertical-align: top;
	margin-top: 20px;
	color: #fff;
}
dt{
	padding: 6px 0;
}
.divFt dt img{
	width: 150px;
	height: 150px;
	border-radius: 10px;
}
@font-face {
	font-family: 'iconfont';  /* project id 742031 */
	src: url('//at.alicdn.com/t/font_742031_btwi7f4za8c.eot');
	src: url('//at.alicdn.com/t/font_742031_btwi7f4za8c.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_742031_btwi7f4za8c.woff') format('woff'),
	url('//at.alicdn.com/t/font_742031_btwi7f4za8c.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_742031_btwi7f4za8c.svg#iconfont') format('svg');
}
.iconfont{
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}