*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    font-family: "微软雅黑";
    /*overflow: hidden;*/
    overflow-x:auto ;
    overflow-y:auto;
}
.roof{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #20222A;
    overflow: hidden;
    font-family: "楷体";
}
/*搜索框*/
div.search {
    padding-top: 10px;
}
form {
    position: relative;
    width: 300px;
    margin: 0 auto; }
input, button {
    border: none;
    outline: none;
}
input {
    width: 100%;
    height: 38px;
    padding-left: 13px;
}
button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}
.bar7 {
    /*background: #7BA7AB;*/
    display: inline-block;
}
.bar7 form { height: 42px; }
.bar7 input {
    width: 250px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #F9F0DA;
    transition: .3s linear;
    float: right;
}
.bar7 input:focus { width: 300px; }
.bar7 button {
    background: none;
    top: -2px;
    right: 0;
}
/*.bar7 button:after{*/
    /*content: "\f002";*/
    /*font-family: FontAwesome;*/
    /*color: #324b4e;*/
/*}*/

.shrinkage{
    margin-left: 200px;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    /*line-height: 60px;*/
    cursor: pointer;
    transition: all .3s;
    opacity: 1;
}
.unfold{
    /*margin-left: -36px;*/
    display: inline-block;
    color: #fff;
    font-size: 25px;
    /*line-height: 60px;*/
    cursor: pointer;
    transition: all .3s;
     opacity: 0;
}
.unfold:hover,.shrinkage:hover{
    background-color: rgba(255,255,255,0.2);
}
.right{
    float: right;
    margin-right: 15px;
    line-height: 60px;
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
}
.user{
    display: inline-block;
    cursor: pointer;
}
.back{
    display: inline-block;
}
.back>a{
    color: #fff;
    text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 768410 */
  src: url('//at.alicdn.com/t/font_768410_1detxgeadvw.eot');
  src: url('//at.alicdn.com/t/font_768410_1detxgeadvw.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_768410_1detxgeadvw.woff') format('woff'),
  url('//at.alicdn.com/t/font_768410_1detxgeadvw.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_768410_1detxgeadvw.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.side-left{
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #20222A;
    position: absolute;

}
.side-left>h1{
    color: #fff;
    opacity: 0.7;
    padding: 10px 0;
    text-align: center;
}
.side-left>ul{
    list-style-type: none;
}
.side-left>ul>li{
    width: 200px;
    padding: 15px 0;
    font-size: 18px;
    font-family: "宋体";
    color: #fff;
    /*margin-left: 50px;*/
    opacity: 0.7;
    transition: all .3s;
    cursor: pointer;

}
.side-left>ul>li:hover{
    background-color: #009688;
}
#mr{
    margin-right: 10px;
    opacity: 0.7;
    margin-left: 50px;
    transition: all .3s;
}
.master>a{
    color: #fff;
    text-decoration: none;
}
.frame-div {
    position: absolute;
    left: 200px;
    top: 60px;
    right: 0;
    bottom: 0;
}
.ifm{
    width: 100%;
    height: 100%;

}
h1{
    font-size: 22px;
    margin: 8px 0;
}