.big-boeder{
	width: 1200px;
	margin: 60px auto;
}
body{
	position: relative;
}
.border
{
	position: relative;
	width: 1000px;
	border: 1px solid #C0C0C0;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	overflow: hidden;
}
.ask-left{
	width: 750px;
	float: left;
}

h3{
	margin: 0 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ask-left{
	border-right: 1px dashed #C0C0C0;
}
.ask-left a{
	display: inline-block;
	width: 100%;
	height: 25px;
}
.ask-time{
	padding: 20px;
	font-size: 14px;
	border-bottom: 1px dashed #C0C0C0;
}
.ask-import{
	padding: 20px;
	font-size: 14px;
}
.ask-title{
	text-indent: 2em;
}
.ask-import img{
	height: 330px;
	width: 330px;
	margin: 20px 0;
	margin-left: 29px;
}
.ask-right{
	float: right;
	width: 240px;
}
.ask-img{
	margin: 20px 0;
	text-align: center;
}
.ask-img img{
	width: 88px;
	height: 88px;
	border-radius: 100%;
}
.ask-area{
	margin-bottom: 12px;
	border-bottom: 1px dashed #C0C0C0;
}
.ask-area i{
	color: #FCD62C;
	display: inline-block;
	height: 24px;
}
.area{
	text-align: center;
	margin: 12px 0;
}
.ask-area span{
	display: inline-block;
	height: 24px;
	margin-left: 12px;
}
.ask-area span:after{
	content: ":";
}
.ask-area b{
	font-weight: 400;
	margin-left: 24px;
}
@font-face {
  font-family: 'iconfont';  /* project id 755547 */
  src: url('//at.alicdn.com/t/font_755547_i99je4p7ndp.eot');
  src: url('//at.alicdn.com/t/font_755547_i99je4p7ndp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_755547_i99je4p7ndp.woff') format('woff'),
  url('//at.alicdn.com/t/font_755547_i99je4p7ndp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_755547_i99je4p7ndp.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
<<<<<<< HEAD
=======
.anser>div{
	padding: 10px;
	margin: 20px;
	background-color: #5CB85C;
	color: #fff;
	opacity: 0.7;
	cursor: pointer;
	width: 60px;
	text-align: center;
	border-radius: 5px;
	letter-spacing: 5px;
}
.anser>div:hover{
	opacity: 1;
}
/*弹窗*/
.new-window{
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,.2);
	display: none;
}
.modals{
	width: 400px;
	height: 270px;
	margin: 0 auto;
	background-color: #5CB85C;
	transform: translateX(20%);
	opacity: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -135px;
	border-radius: 10px;
	padding: 15px;
	transition: all 1s cubic-bezier(0.17, 0.67, 0, 1.09);
}

.modals>h3{
	color: #fff;
	padding: 10px;
	font-family: "Arial Black";
}
.p-sty{
	color: #fff;
	padding-left: 10px;
	font-family: "Arial Black";
}
.imgkuangs{

	margin-top: 20px;
}
.operate{
	padding: 10px 130px;
	margin-top: 10px;
}
.upload,.md-close{
	padding: 10px;
	text-align: center;
	color: #fff;
	display: inline-block;
	border: 1px solid #5e5e5e;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}
textarea{
	border-radius: 10px;
	width: 400px;
	height: 140px;
}
>>>>>>> 9bb3e47f8048f652501472256e1f8027a4021424
