*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
li{ list-style-type: none;}
a{
	text-decoration: none;
	color: #000;
}
input,button{
	outline: none;
	border: none;
}
body{
	z-index: 99;
}
#header{
	min-width: 1000px;
}
.header{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	padding: 35px 0;
}
.header a{
	display: inline-block;
	height: 100px;
}
.header img{
	height: 100px;
	width: 140px;
}
.header span{
	display: inline-block;
	height: 100px;
	line-height: 100px;
	vertical-align: 36px;
	font-size: 18px;
}
.header span i{
	font-size: 48px;
	color: #5CB85C;
	font-family: "monotype corsiva";
}
.header span b{
	letter-spacing: 5px;
	font-family: "宋体";
}
.login-core{
	min-width: 1200px;
	height: 450px;
	margin-bottom: 100px;
}
.login-img{
	background: url("../images/timg (10).jpg") center  no-repeat;
	overflow: hidden;
  	background-size:cover;
	height:100%;
  	width:100%;
}
/*登录*/
.section{
	width: 360px;
	min-height: 448px;
	position: relative;;
	left: 56%;
	border-radius: 5px;
	z-index: 99;
	background: rgba(255, 255, 255, .3);
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.section:hover{
	transform:translate(0,-100px);    
	-webkit-transform:translate(0,-30px);    
	-moz-transform:translate(0,-30px);   
	-o-transform:translate(0,-30px);    
	-ms-transform:translate(0,-30px);
}
.section h2{
	text-align: center;
	font-family: "宋体";
	padding: 60px 0 30px 0;
}
.login-import{
	padding: 0 18px;
}
.login-import form{
	text-align: center;
	position: relative;
}
.login-import input{
	width: 270px;
	height: 42px;
	padding-left: 12px;
	margin: 6px 0;
	border-radius: 5px;
	border: 2px solid #F9F0DA;
}
.login-import input:focus,.register-l input:focus{
	border-color: #5CB85C;
}
.login-import p{
	text-align: left;
	margin-left: 68px;
	color: orangered;
	height: 20px;
	font-size: 12px;
}
.login-ico{
	font-size: 24px;
	font-weight: 600;
	margin-right: 6px;
	color: #fff;
}
/*显示密码*/
.ico{
	position: absolute;
	right: 12px;
	top: 100px;
	cursor: pointer;
}
.register-button,button{
	position: relative;
	border: none;
	outline: none;
	width: 330px;
	margin: 50px 0 0 0;
	cursor: pointer;
	text-align: center;
	background-color: #DDDD;
}
.login-in{
	text-align: center;
	height: 42px;
	color: #FFFFFF;
	font-size: 28px;
	letter-spacing: 3px;
	border-radius: 5px;
	background-color: #5CB85C;
	font-family: "monotype corsiva";
}
/*记住密码*/
.rember{
	position: relative;
	height: 25px;
	font-size: 12px;
}
.rember input{
	width: 16px;
	height: 16px;
	position: absolute;
	left: 24px;
	top: 6px;
}
.rember label{
	position: absolute;
	left: 51px;
	top: 12px;
}
.rember span{
	position: relative;
	float: right;
	right: 12px;
	top: 12px;
}
.rember span a{
	color: #5CB85C;
}
/*注册*/ 
/*步骤*/
.register{
	width: 1200px;
	margin: 0 auto;
}
.steps {
	min-width: 1200px;
    height: 46px;
    border-bottom: 3px solid #e6e6e6;
    position: relative;
}
.steps ul{
	width: 720px;
	margin: 0 auto;
}
.steps ul li {
    display: inline-block;
    float: left;
    width: 170px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #999;
    padding: 0 12px;
    margin: 0 12px;
}
.steps ul li b{
	margin-right: 6px;
}
.steps ul li.active {
    color: #3e3e3e;
    border-bottom: 2px solid #5CB85C;
}
/*内容*/
.content{
	padding: 50px 0;
}
.register-main-list{
	width: 720px;
}
.register-list{
	margin: 0 auto;
}
.register-group{
	padding: 10px 0;
}
.register-item {
    padding: 13px 0 13px 130px;
    line-height: 36px;
}
.register-item span{
	display: inline-block;
	width: 80px;
	text-align: center;
}
.register-item b{
	font-size: 12px;
	color: #ff3f13;
	margin: 0 6px;
	display: none;
}
.register-item b i{
	margin: 0 6px;
}
.register-item input{
	width: 289px;
	height: 40px;
	margin-left: 35px;
	padding-left: 12px;
	border-radius: 6px;
	border: #5CB85C 2px solid;
}
.register-item input:focus{
	border: lightgreen 2px solid;
}
.item-span{
	position: relative;
	top: 12px;
}
.next-step,.next-step-second{
	border-radius: 6px;
	margin-left: 120px;
	color: #fff;
	width: 309px;
	height: 40px;
	margin-top: 8px;
	/*disabled: true;*/
	cursor: default;
	transition: all .5s;
}
/*第二步*/
#register-info,#register-done{
	display: none;
}
/*注释*/
.notes{
	font-size: 12px;
	color: #DCDBDC;
	text-align: center;
}
/*验证码*/
#checkCode{
	width: 120px;
	cursor: pointer;
	font-size: 16px;
	color: #ff3f13;
	text-align: center;
	letter-spacing: 6px;
	-webkit-transition: background-color .5s; 
    -o-transition: background-color .5s; 
    transition: background-color .5s;
}
/*第三步*/
.item-ico{
	color: #70E070;
	font-size: 48px;
	text-align: center;
	margin-left: -192px;
}
.item-done{
	margin-left: -174px;
}
.item-done a{
	color: #70E070;
}
/*验证*/
		.drag{
            width: 307px;
            height: 40px;
            line-height: 40px;
            background-color: #e8e8e8;
            position: relative;
            left: 118px;
    		top: -24px;
    		border-radius: 6px;
        }
        .bg{
            width:40px;
            height: 100%;
            position: absolute;
            background-color: #75CDF9;
            border-radius: 6px;
        }
        .text{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            user-select: none;
            border-radius: 6px;
        }
        .btn{
            width:40px;
            height: 38px;
            position: absolute;
            border:1px solid #ccc;
            cursor: move;
            font-family: "宋体";
            text-align: center;
            background-color: #fff;
            user-select: none;
            color:#666;
            border-radius: 6px;
        }
@font-face {
  font-family: 'iconfont';  /* project id 744835 */
  src: url('//at.alicdn.com/t/font_744835_f6nz9xs7dn4.eot');
  src: url('//at.alicdn.com/t/font_744835_f6nz9xs7dn4.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_744835_f6nz9xs7dn4.woff') format('woff'),
  url('//at.alicdn.com/t/font_744835_f6nz9xs7dn4.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_744835_f6nz9xs7dn4.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}