/*第二部分*/
.container{
	width: 1000px;
	margin: 25px auto;
}
.first-section,.second-section,.third-section{
	padding: 20px;
	width: 100%;
	border: 2px solid #e9e9e9;
	overflow: hidden;
	margin:45px 0;
}
.active{
	color: #ff6600;
}
.first-section ul li{
	display: block;
	line-height: 36px;
	margin: 16px 0;
	overflow: hidden;
	border-bottom: #E9E9E9 dotted 2px;
}
.first-section ul li span{
	font-weight: 600;
	margin-right: 12px;
}
.first-section ul li a{
	padding: 0 12px;
	text-align: center;
	transition: all .3s;
}
.first-section ul li a:hover{
	color: #ff6600;
}
.second-section{
	padding: 24px 0;
}
.second-section ul{
	margin: 0 20px;
}
.second-section ul li{
	float: left;
    margin: 10px 20px;
}
.second-section ul li a{
	display: inline-block;
	width: 270px;
}
.video-img{
	width: 100%;
	height: 150px;
	overflow: hidden;
}
.video-img img{
	width: 100%;
	height: 100%;
	transition: all 1.2s; 
}
.video-img:hover img{
	transform: scale(1.2);
}
.video-ico i{
	width: 24px;
	height: 24px;
	font-size: 16px;
}

/*正文文章*/
.wrapper{
	min-width: 1200px;
	padding: 25px 0;
	border-top: 5px solid #73A204;
}
.contain{
	width: 1200px;
	margin: 0 auto;
}
.wrapper h1{
	font-size: 24px;
}
.wrapper-time{
	margin: 18px 48px;
	color: #999;
}
.nav{
	overflow: hidden;
	position: relative;
	border-top: 1px #999 solid;
}
.wrapper-l{
	float: left;
	width: 720px;
}
.wrapper-p{
	width: 100%;
	padding: 16px;
}
.wrapper-p img{
	width: 675px;
	height: 480px;
	margin: 20px auto;
}
.wrapper-p p{
	text-indent: 2em;
	line-height: 32px;
	font-size: 19px;
	padding-bottom: 12px;
}
.recommendation{
	margin: 0 8px;
}
.recommendation h2{
	padding-bottom: 12px;
	border-bottom: 1px solid #C0C0C0;
}
.recommendation h2 span a,.recommendation h2 span{
	display: inline-block;
	height: 40px;
	float: right;
	font-size: 16px;
	font-weight: 400;
}
.recommendation-ulist{
	padding: 12px;
	font-size: 14px;
}
.recommendation-ulist ul li{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #C0C0C0;
}
.recommendation-ulist ul li span{
	float: right;
	width: 118px;
	height: 40px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
.recommendation-ulist ul li a{
	display: inline-block;
	float: left;
	height: 40px;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.recommendation-ulist ul li a i{
	font-style: normal;
	display: inline-block;
	height: 40px;
}
.recommendation-ulist ul li a b{
	font-weight: 400;
	display: inline-block;
	height: 40px;
}
.recommendation-ulist ul li a:after{
	content: "\f002"; 
	font-family: FontAwesome; 
	color: #324b4e; 
}
.recommendation textarea{
	width: 100%;
	height: 160px;
	margin: 12px 4px;
	padding: 12px 6px;
	text-indent: 2em;
	resize: none;
	border-radius: 5px;
}
.recommend{
	float: right;
	color: #fff;
	margin-top: 14px;
	position: relative;
	left: 70px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	font-size: 14px;
	padding: 4px 12px;
	transition: all .5s; 
	background-color: #15AB9F;
}
.recommend:hover{
	cursor: pointer;
	background-color:#31B0D5;
}
.wrapper-r{
	float: right;
	width: 420px;
	padding: 16px 0;
}
.none{
    display: none;
}
.block{
    display: block;
}
/*顶部导航栏点击后的页面*/
.material-nav{
	margin: 12px 0;
	height: 120px;
}
.material-nav a,.material-nav a img{
	width: 145px;
	height: 100px;
	float: left;
}
.material-p{
	margin: 0 auto;
	width: 556px;
	text-indent: 2em;
	line-height: 26px;
	font-size: 14px;
	text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 4; /** 显示的行数 **/
    overflow: hidden;  /** 隐藏超出的内容 **/

}
.fr{
	float: inherit;
}
.mt10pb10{
	margin: 0 0 30px 0;
}
.mt10pb10 h2{
	margin-bottom: 5px;
}

/*弹框*/
/*加入 书签成功*/
.bookshelf{
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -35px 0 0  -100px;
    background-color: #1a1a1a;
    color: #fff;
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
    z-index: 99;
}
.bookshelf{
		animation:rotate 0.2s infinite;
		animation-iteration-count: 4;
}
@keyframes rotate
{
	from {transform: rotate(30deg);}
	to {transform: rotate(-30deg);}
}
@font-face {
  font-family: 'iconfont';  /* project id 742031 */
  src: url('//at.alicdn.com/t/font_742031_btwi7f4za8c.eot');
  src: url('//at.alicdn.com/t/font_742031_btwi7f4za8c.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_742031_btwi7f4za8c.woff') format('woff'),
  url('//at.alicdn.com/t/font_742031_btwi7f4za8c.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_742031_btwi7f4za8c.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}