<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>地区分析-慧农在线</title>
  	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  	<link rel="stylesheet" th:href="@{/css/area.css}">
  	<link rel="stylesheet" th:href="@{/css/header.css}">
   	<link rel="shortcut icon" th:href="@{/images/login.ico}" type="image/x-icon">
   	<script th:src="@{/js/area.js}"></script>
	</head>

	<body>
    <div th:include="/common/common :: headere"></div>
	<div class="titlecure">
				<h1>台前县地区视频点击量统计图</h1>
			</div>
		<div id="my_container">
			<canvas id="pie_canvas"></canvas>
		</div>
		<!--尾部-->
<div class="foo">
   <div class="bottom-line">
   	<a href="">关于我们</a>
   	<a href="">会员服务</a>
   	<a href="">招商代理</a>
   	<a href="">帮助中心</a>
   	<a href="">广告服务</a>
   	<a href="">汇款方式</a>
   	<a href="">意见和建议</a>
   	<a href="">联系方式</a>
   	<a href="">友情链接</a>
   	<a href="">站长统计</a>
   </div>
   <p style="text-align: center;">Copyright慧农在线&nbsp;&nbsp;版权所有</p>
   <p style="text-align: center;"><a style="color: #999;">浙ICP备14042858号-1</a> 增值电信业务经营许可证：浙B2-20150086</p>
</div>
	</body>

</html>