<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理中心</title>
    <link rel="stylesheet" href="css/Person-center.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="shortcut icon" href="images/login.ico" type="image/x-icon">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/Person-center.js"></script>
</head>
<body>
<div class="head" >
    <div class="header">
        <div class="header-left" title="慧农在线">
            <a href="index.html">
                <img src="img/peasanter.png"/>
                <b>慧农在线</b>
            </a>
        </div>
        <div class="header-right">
            <a href="login.html">
                <i class="iconfont">&#xe61a;</i>
                <span>登录</span>
            </a>
            <a href="register.html">注册</a>
            <a id="qr-code">
                <span>手机端</span>
                <i class="iconfont">&#xe622;</i>
            </a>
        </div>
        <div class="qr-code">
            <img src="img/code.png"/>
        </div>
        <div class="search">
            <form action="">
                <input type="text" name="" id="" value="" placeholder="请输入您要搜索的内容..."/>
                <button type="submit"></button>
            </form>
        </div>
    </div>
</div>
<div class="sty">
    <div class="sty2">
        <h1>个人中心</h1>
        <h1 class="sty3"><a href="index.html">首页</a></h1>
        <h2 class="sty4"><a href="login.html">退出</a></h2>
    </div>
</div>
<div class="kuang">
    <div class="container">
        <div class="acount"><a href="information.html">账户设置</a></div>
        <div class="collection"><a href="question.html">我的庄稼医院</a></div>
        <div class="trangle" style="margin-left: 140px"></div>
        <div class="content">
            <div class="side">
                <div>我的庄稼医院</div>
                <ul>
                    <li><a href="question.html">我要问</a></li>
                    <li style="background-color: #599524;"><a href="asked.html">我问的</a></li>
                    <li><a href="mycollection.html">我的收藏</a></li>
                </ul>
            </div>
            <!--内容区域-->
            <div class="right-kuang">
                <div class="right-content">
                    <table>
                        <tbody>
                        <tr>
                            <th>问题</th>
                            <th>时间</th>
                            <th>回复/查看</th>
                        </tr>
                        <tr>
                            <td>辣椒有茶黄螨怎么治理？</td>
                            <td>2018/7/18/17:18</td>
                            <td>0/0</td>
                        </tr>
                        <tr>
                            <td>辣椒有茶黄螨怎么治理？</td>
                            <td>2018/7/18/17:18</td>
                            <td>0/0</td>
                        </tr>
                        <tr>
                            <td>辣椒有茶黄螨怎么治理？</td>
                            <td>2018/7/18/17:18</td>
                            <td>0/0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>