<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/common :: header">

</head>
<body>
<div th:include="/common/common :: headere"></div>
<!--头部-->
<!--电商培训-->
<div class="nv-top">
    <div class="nv-top-ct">
        <div class="nv-top-ct-range1">
            <span class="train-item1 active_active">农技培训</span>
            <span class="train-item2">电商培训</span>
        </div>
        <div class="nv-top-ct-range2 wrapper_list1">
            <ul>
                <li id="one" th:each="mou : ${moudel}">
                    <a th:href="'/user/moduleview/'+${mou.mouldeId}+'/1'" target="_blank"><span th:text="${mou.moduleName}"></span></a>
                </li>
            </ul>
        </div>
        <div class="nv-top-ct-range2 wrapper_list2">
            <ul>
                <li id="one" title="农药">
                    <a href="material.html" target="_blank">电商微商</a>
                </li>
                <li id="two" title="肥料">
                    <a href="material.html" target="_blank">品牌货源</a>
                </li>
                <li id="three" title="农膜">
                    <a href="material.html" target="_blank">培训中心</a>
                </li>
                <li id="four" title="种子种苗">
                    <a href="material.html" target="_blank">成功案例</a>
                </li>
                <li id="five" title="种子种苗">
                    <a href="material.html" target="_blank">动态咨询</a>
                </li>
                <li id="six" title="解决方案">
                    <a href="material.html" target="_blank">解决方案</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--主体内容-->
<div class="mar-auto">
    <!--主体开始-->
    <div class="wp65 mt30 fl">
        <!--板块开始-->
        <div class="main-body item-1">
            <div class="box-item">
                <span class="font"><a th:href="@{/user/toindex}" target="_blank">农技培训</a></span>
                <span style="float:right;"><a th:href="@{/VideoController/videoMore(moduleId=1)}" target="_blank">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
            </div>
            <div class="box-content">
                <ul>
                    <li th:each="video : ${videoList}">
                        <a th:href="@{/VideoController/videoDetails(videoId=${video.videoId})}"><!--详情-->
                            <img th:src="'/Path/'+${video.videoCover}" alt="" style="width: 130px;height: 120px;">
                        </a>
                        <p><a th:href="@{/VideoController/videoDetails(videoId=${video.videoId})}" th:text="${video.videoTitle}"></a></p>
                        <div style="margin-top: -106px;" class="bofang">
                            <i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i>
                        </div>
                        <!--<div style="margin-top: -106px;" class="bofang"><i class="iconfont">&#xe607;</i></div>-->
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-body item-2">
            <div class="box-item">
                <span class="font"><a th:href="@{/user/toindex}" target="_blank">电商培训</a></span>
                <span style="float:right;"><a th:href="@{/VideoController/videoMore(moduleId=2)}" target="_blank">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
            </div>
            <div class="box-content">
                <ul>
                    <li th:each="video : ${videoTowList}">
                        <a th:href="@{/VideoController/videoDetails(videoId=${video.videoId})}"><!--详情-->
                            <img th:src="'/Path/'+${video.videoCover}" alt="" style="width: 130px;height: 120px;">
                        </a>
                        <p><a th:href="@{/VideoController/videoDetails(videoId=${video.videoId})}" th:text="${video.videoTitle}"></a></p>
                        <div style="margin-top: -106px;" class="bofang">
                            <i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i>
                        </div>
                        <!--<div style="margin-top: -106px;" class="bofang"><i class="iconfont">&#xe607;</i></div>-->
                    </li>
                </ul>
            </div>
        </div>
        <!--板块二-->
        <div class="main-body">
            <div class="box-item">
                <span class="font"><a href="">大家正在问</a></span>
                <span style="float:right;"><a href="">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
            </div>
            <div class="box-content">
                <table class="tab">
                    <tbody>
                    <tr class="trs" th:each="question: ${question}">
                        <td>
                                <span>
                               【 <a href="">问题</a>-<a href="">热门问题</a>】</span>
                            <a th:href="'/user/textview/'+${question.dataId}">
                                <span th:text="${question.contentsTitle}"></span>
                            </a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!--板块三-->
        <div class="main-body">
            <div class="main-body-left" th:each="blogId,key : ${moudels}">
                <div class="box-item">
                    <span class="font"><a href="material.html"><span th:text="${key.current.key.moduleName}"></span></a></span>
                    <span style="float:right;"><a th:href="'/user/moduleview/'+${key.current.key.mouldeId}+'/1'">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
                </div>
                <ul class="list-sub">

                    <li class="list-figure" th:each="data : ${key.current.value}" th:if="${data.identity==1 }">
                        <div>
                            <a th:href="'/user/textview/'+${data.dataId}">
                                <div class="imgkuang">
                                    <img th:src="'/Path/'+${data.pictureAddress}" alt=""
                                         style="width: 130px;height: 120px;">
                                </div>
                            </a>
                            <p><a th:href="'/user/textview/'+${data.dataId}"><span th:text="${data.contentsTitle}" class="curefont"></span></a>
                            </p>
                        </div>
                    </li>
                    <li style="margin-top: -146px;margin-left: 5px;" th:each="data : ${key.current.value}"
                        th:if="${data.identity==4 }">
                        <a th:href="'/user/textview/'+${data.dataId}"><span th:text="${data.contentsTitle}"></span></a>
                    </li>
                    <li style="margin-left: 5px" th:each="data : ${key.current.value}" th:if="${data.identity==2 }">
                        <a th:href="'/user/textview/'+${data.dataId}"><span th:text="${data.contentsTitle}"></span></a>
                    </li>
                </ul>
                <ul style="margin-top: 23px;border-top: 1px solid #999;">
                    <li class="list-item" th:each="data : ${key.current.value}" th:if="${data.identity==0}"><a th:href="'/user/textview/'+${data.dataId}"><span
                            th:text="${data.contentsTitle}"></span></a></li>
                </ul>
            </div>
        </div>
        <!--主体结束-->
    </div>
    <!--列表右侧开始-->
    <div th:include="/common/common :: sidebar"></div>
</div>

    <!--尾部-->
    <footer>
        <div class="divFt">
            <dl>
                <dt>首页</dt>
                <dt>关于我们</dt>
                <dt>加入我们</dt>
            </dl>
            <dl>
                <dt>关注我们</dt>
                <dt>新浪微博</dt>
                <dt>服务支持</dt>
                <dt>常见问题</dt>
            </dl>
            <dl>
                <dt>关注我们</dt>
                <dt>新浪微博</dt>
                <dt>服务支持</dt>
                <dt>常见问题</dt>
            </dl>
            <dl>
                <dt>关注我们</dt>
                <dt>新浪微博</dt>
                <dt>服务支持</dt>
                <dt>常见问题</dt>
            </dl>
            <dl>
                <dt>
                    <img src="img/code.png" alt="">
                </dt>
            </dl>
        </div>
        <!--农技视频-->
        <div class="mt10pb10">
            <H2>农技视频</H2>
            <span class="pin-more"><a href="">更多</a></span>
            <ul>
                <li th:each="videoRank : ${videoRanking}">
                    <span>☆</span>
                    <a th:href="@{/VideoController/videoDetails(videoId=${videoRank.videoId})}" th:text="${videoRank.videoTitle}"></a>
                    <div class="imgfont">
                        <a th:href="@{/VideoController/videoDetails(videoId=${videoRank.videoId})}"><img th:src="'/Path/'+${videoRank.videoCover}" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2" th:text="${videoRank.videoIntroduction}"></span>
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: -60px;" class="bofang">
                        <i class="fa fa-play-circle-o  fa-3x" id="iconfont"
                           style="margin-top: -10px;margin-left: 47px"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </footer>
</div>
    <div th:include="/common/common :: indexjs"></div>
</body>
</html>