<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>农技培训-慧农在线</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="shortcut icon" th:href="@{/images/login.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div th:include="/common/common :: headere"></div>
<!--头部-->
<div class="nv-top">
    <div class="nv-top-ct">
        <div class="nv-top-ct-range1">
             <span ><a th:href="@{/user/toindex}" style="font-size: 14px;">农技培训</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
            <span id="echo"><a th:href="@{user/toindex1}" style="text-decoration:none;font-size: 14px;color: red;">电商培训</a></span>
        </div>
        <div class="nv-top-ct-range2">
            <ul>
                <li id="one" title="农药">
                	<a href="material.html" target="_blank">电商微商</a>
                </li>
                <li id="two" title="肥料">
                	<a href="material.html" target="_blank">品牌货源</a>
                </li>
                <li id="three" title="农膜">
                	<a href="material.html" target="_blank">培训中心</a>
                </li>
                <li id="four" title="种子种苗">
                	<a href="material.html" target="_blank">成功案例</a>
                </li>
                <li id="five" title="种子种苗">
                	<a href="material.html" target="_blank">动态咨询</a>
                </li>
                <li id="six" title="解决方案">
                	<a href="material.html" target="_blank">解决方案</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--主体内容-->
<div class="mar-auto">
    <!--主体开始-->
    <div class="wp65 mt30 fl">
        <!--板块开始-->
        <div class="main-body">
            <div class="box-item">
                <span class="font"><a href="question.html" target="_blank">培训视频</a></span>
                <span style="float:right;"><a href="question.html" target="_blank">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
            </div>
            <div class="box-content">
                <ul>
                    <li>
                        <a href="train.html">
                            <img src="images/t1.jpg" alt="" style="width: 150px;height: 115px;">
                        </a>
                        <p><a href="train.html">电商基础知识培训</a></p>
                        <div style="margin-top: -106px;" class="bofang">
                        	<i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i>
                        </div>
                        <!--<div style="margin-top: -106px;" class="bofang"><i class="iconfont">&#xe607;</i></div>-->
                    </li>
                    <li>
                        <a href="train.html">
                            <a href="train.html">
                                <img src="images/t2.jpg" alt="" style="width: 150px;height: 115px;">
                            </a>
                        </a>
                        <p><a href="pcvideo.html">电子商务深度分析</a></p>
                        <div style="margin-top: -106px;" class="bofang"><i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i></div>
                    </li>
                    <li>
                        <a href="train.html">
                            <a href="train.html">
                                <img src="images/t3.jpg" alt="" style="width: 150px;height: 115px;">
                            </a>
                        </a>
                        <p><a href="">如何组建电商团队</a></p>
                        <div style="margin-top: -106px;" class="bofang"><i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i></div>
                    </li>
                    <li>
                        <a href="pcvideo.html">
                            <a href="train.html">
                                <img src="images/t4.jpg" alt="" style="width: 150px;height: 115px;">
                            </a>
                        </a>
                        <p><a href="train.html">电商三大运营模式</a></p>
                        <div style="margin-top: -106px;" class="bofang"><i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i></div>
                    </li>
                    <li>
                        <a href="train.html">
                            <a href="train.html">
                                <img src="images/t5.jpg" alt="" style="width: 150px;height: 115px;">
                            </a>
                        </a>
                        <p><a href="train.html">农业电商培训的问题及总结</a></p>
                        <div style="margin-top: -106px;" class="bofang"><i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i></div>
                    </li>
                    <li>
                        <a href="train.html">
                            <a href="train.html">
                                <img src="images/t6.jpg" alt="" style="width: 150px;height: 115px;">
                            </a>
                        </a>
                        <p><a href="train.html">电商的重要基础培训</a></p>
                        <div style="margin-top: -106px;" class="bofang"><i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i></div>
                    </li>
                    <li>
                        <a href="train.html">
                            <a href="train.html">
                                <img src="images/t7.jpg" alt="" style="width: 150px;height: 115px;">
                            </a>
                        </a>
                        <p><a href="train.html">农业电商学堂</a></p>
                        <div style="margin-top: -106px;" class="bofang"><i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i></div>
                    </li>
                    <li>
                        <a href="train.html">
                            <a href="train.html">
                                <img src="images/t8.jpg" alt="" style="width: 150px;height: 115px;">
                            </a>
                        </a>
                        <p><a href="train.html">如何打造一流电商平台</a></p>
                        <div style="margin-top: -106px;" class="bofang"><i class="fa fa-play-circle-o  fa-3x" id="iconfont"></i></div>
                    </li>
                </ul>
            </div>
        </div>
        <!--板块二-->
        <div class="main-body">
            <div class="box-item">
                <span class="font"><a href="">大家正在问</a></span>
                <span style="float:right;"><a href="">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
            </div>
            <div class="box-content">
                <table class="tab">
                    <tbody>
                        <tr class="trs">
                            <td><span>
                               【 <a href="">甘薯</a>-<a href="">施肥技术</a>】</span>
                                <a href="./ask.html">请问老师，住宅区的盆栽，例如小番薯，一般用什么肥？</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">2天前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="">生姜</a>-<a href="">-</a>】</span>
                                <a href="./ask.html">大姜田苗后阔叶杂草，用什么除草剂。</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">1天前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="./ask.html">其他</a>-<a href="">-</a>】</span>
                                <a href="./ask.html">我请问这是什么原因造成的，长到这么大时就黄了枯了</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">19小时前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="">蔬菜</a>-<a href="">-</a>】</span>
                                <a href="./ask.html">黄花菜掉蕊是什么原因。</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">10小时前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="">蔬菜</a>-<a href="">-</a>】</span>
                                <a href="./ask.html">叶片病斑沿着两侧叶脉间发生，病斑不上叶脉</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">8小时前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="">水果</a>-<a href="">-</a>】</span>
                                <a href="./ask.html">桃子出现这个症状，请问专家这是如何治疗</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">6小时前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="./ask.html">马鞭草</a>-<a href="">种植技术</a>】</span>
                                <a href="">马鞭草顶部枯萎发黑，有的整株枯萎，是什么病，怎么防治。</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">6小时前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="">水果</a>-<a href="">-</a>】</span>
                                <a href="./ask.html"> 请问专家，这火龙果霉菌一样的是什么病？</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">5小时前</span></td>
                        </tr>
                        <tr class="trs">
                            <td><span>
                               【 <a href="./ask.html">施肥</a>-<a href="">施肥技术</a>】</span>
                                <a href="">撒施肥料后还可以用水肥吗？</a><span class="sty">（0/18）</span></td>
                            <td style="float: right;"><span class="sty">4小时前</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--板块三-->
        <div class="main-body">
            <div class="main-body-left">
                <div class="box-item">
                    <span class="font"><a href="material.html">农药</a></span>
                    <span style="float:right;"><a href="material.html">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
                </div>
                <ul class="list-sub">
                    <li class="list-figure">
                        <div>
                            <a href="article.html">
                                <div class="imgkuang">
                                    <img src="images/11.jpg" alt="" style="width: 130px;height: 120px;">
                                </div>
                            </a>
                            <p><a href="article.html"><span>农业部强调农药专项整理</span></a></p>
                        </div>
                    </li>
                    <li style="margin-top: -146px;margin-left: 5px;">
                    	<a href="article.html"><span>农药毒性桥识别</span></a>
                    </li>
                    <li style="margin-left: 5px">
                    	<a href="article.html">小麦除草剂使用方法</a>
                    </li>
                    <li style="margin-left: 5px"><a href="article.html">近日杀虫剂毒死笔市场行情解析</a></li>
                    <li style="margin-left: 5px"><a href="article.html">吡虫啉安全间隔期小介绍</a></li>
                    <li style="margin-left: 5px"><a href="article.html">度死笔使用技巧</a></li>
                </ul>
                <ul style="margin-top: 23px;border-top: 1px solid #999;">
                    <li class="list-item"><a href="article.html">几种见光易分解的农药</a></li>
                    <li class="list-item"><a href="article.html">农药购买如何鉴别好坏</a></li>
                    <li class="list-item"><a href="article.html">近日杀虫剂毒死蜱市场行情解析</a></li>
                    <li class="list-item"><a href="article.html">科学使用农药技术</a></li>
                    <li class="list-item"><a href="article.html">种粮大户盼“药肥一体化”</a></li>
                    <li class="list-item"><a href="article.html">农药的安全间隔期介绍</a></li>
                    <li class="list-item"><a href="article.html">生物农药防治土传病害和线虫为害</a></li>
                    <li class="list-item"><a href="article.html">有机磷农药不能起到叶面肥的作用</a></li>
                    <li class="list-item"><a href="article.html">农药剂型选择注意要点</a></li>
                    <li class="list-item"><a href="article.html">怎样选用“对口”农药</a></li>
                </ul>
            </div>
            <div class="main-body-right">
                <div class="box-item">
                    <span class="font"><a href="article.html">肥料</a></span>
                    <span style="float:right;"><a href="material.html">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
                </div>
                <ul class="list-sub">
                    <li class="list-figure">
                        <div>
                            <a href="article.html">
                                <div class="imgkuang">
                                    <img src="images/12.jpg" alt="" style="width: 130px;height: 120px;">
                                </div>
                            </a>
                            <p><a href="article.html">实现中微量肥突破</a></p>
                        </div>
                    </li>
                    <li style="margin-top: -146px;margin-left: 5px;">
                    	<a href="article.html">选肥不仅重肥效还要看盐效</a>
                    </li>
                    <li style="margin-left: 5px"><a href="article.html">冬季积造农家肥要领</a></li>
                    <li style="margin-left: 5px"><a href="article.html">玉米使用菌肥好处多</a></li>
                    <li style="margin-left: 5px"><a href="article.html">土豆变主粮增产巧施肥</a></li>
                    <li style="margin-left: 5px"><a href="article.html">科学施硼秋冬作物免受肥害</a></li>
                </ul>
                <ul style="margin-top: 23px;border-top: 1px solid #999;">
                    <li class="list-item">
                    	<a href="article.html">低温天，施肥选碳铵</a>
                    </li>
                    <li class="list-item">
                    	<a href="article.html">保护地芹菜施肥有讲究</a>
                    </li>
                    <li class="list-item"><a href="article.html">产蛋鸡不为鱼粉的替代方法</a></li>
                    <li class="list-item"><a href="article.html">调控肥水避免棉花“二次生长”</a></li>
                    <li class="list-item"><a href="article.html">辨识硝酸磷肥三大点</a></li>
                    <li class="list-item"><a href="article.html">葡萄秋季施肥的好处及方法</a></li>
                    <li class="list-item"><a href="article.html">油菜早施磷肥效果好</a></li>
                    <li class="list-item"><a href="article.html">秋大蒜叶面追肥生长好</a></li>
                    <li class="list-item"><a href="article.html">秋季果树施肥有方法</a></li>
                    <li class="list-item"><a href="article.html">提高白菜的产量需要三步施肥方法</a></li>
                </ul>
            </div>
        </div>
        <!--板块四-->
        <div class="main-body">
            <div class="main-body-left">
                <div class="box-item">
                    <span class="font"><a href="material.html">种子种苗</a></span>
                    <span style="float:right;"><a href="material.html">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
                </div>
                <ul class="list-sub">
                    <li class="list-figure">
                        <div>
                            <a href="article.html">
                                <div class="imgkuang">
                                    <img src="images/13.jpg" alt="" style="width: 130px;height: 120px;">
                                </div>
                            </a>
                            <p><a href="article.html">茄子自交系种子的繁殖技术</a></p>
                        </div>
                    </li>
                    <li style="margin-top: -146px;margin-left: 5px;">耐热型香菜新品种介绍<a href="article.html"></a>
                    </li>
                    <li style="margin-left: 5px">
                    	<a href="article.html">荔枝优质种苗繁殖技术介绍</a>
                    </li>
                    <li style="margin-left: 5px"><a href="article.html">黔糯768糯玉米繁种技术</a></li>
                    <li style="margin-left: 5px"><a href="article.html">两个小麦新品种的介绍</a></li>
                    <li style="margin-left: 5px"><a href="article.html">推荐两个特色鸭新品种</a></li>
                </ul>
                <ul style="margin-top: 23px;border-top: 1px solid #999;">
                    <li class="list-item">
                    	<a href="article.html">介绍两个优质特色羊品种</a>
                    </li>
                    <li class="list-item">
                    	<a href="article.html">鳗种的投饵和饲养管理技术</a>
                    </li>
                    <li class="list-item">
                    	<a href="article.html">甜瓜种子：金香玉一号</a>
                    </li>
                    <li class="list-item"><a href="article.html">鸡的常用饲料：矿物质饲料</a></li>
                    <li class="list-item"><a href="article.html">优质牧场饲料------鸭毛</a></li>
                    <li class="list-item"><a href="article.html">荔枝优质种苗繁殖技术介绍</a></li>
                    <li class="list-item"><a href="article.html">胡萝卜新品种：日本红勇人2号</a></li>
                    <li class="list-item"><a href="article.html">西瓜杂交制种栽培概要/a></li>
                    <li class="list-item"><a href="article.html">作物种子发芽率和发芽势</a></li>
                    <li class="list-item"><a href="article.html">地方龙眼优良品种――古山2号</a></li>
                </ul>
            </div>
            <div class="main-body-right">
                <div class="box-item">
                    <span class="font"><a href="material.html">植保技术</a></span>
                    <span style="float:right;"><a href="material.html">更多
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    <em> <i class="fa fa-angle-right fa-lg"></i> </em>
                    </a>
                </span>
                </div>
                <ul class="list-sub">
                    <li class="list-figure">
                        <div>
                            <a href="article.html">
                                <div class="imgkuang">
                                    <img src="images/14.jpg" alt="" style="width: 130px;height: 120px;">
                                </div>
                            </a>
                            <p><a href="article.html">农业部强调农药专项整理</a></p>
                        </div>
                    </li>
                    <li style="margin-top: -146px;margin-left: 5px;">
                    	<a href="article.html">农药毒性桥识别</a>
                    </li>
                    <li style="margin-left: 5px">
                    	<a href="article.html">小麦除草剂使用方法</a>
                    </li>
                    <li style="margin-left: 5px"><a href="article.html">近日杀虫剂毒死笔市场行情解析</a></li>
                    <li style="margin-left: 5px"><a href="article.html">吡虫啉安全间隔期小介绍</a></li>
                    <li style="margin-left: 5px"><a href="article.html">度死笔使用技巧</a></li>
                </ul>
                <ul style="margin-top: 23px;border-top: 1px solid #999;">
                    <li class="list-item">
                    	<a href="article.html">猪场防潮需注意</a>
                    </li>
                    <li class="list-item">
                    	<a href="article.html">未来饲料产品开发的极大趋势</a>
                    </li>
                    <li class="list-item"><a href="article.html">产蛋鸡不为鱼粉的替代方法</a></li>
                    <li class="list-item"><a href="article.html">鸡的常用饲料：矿物质饲料</a></li>
                    <li class="list-item"><a href="article.html">优质牧场饲料------鸭毛</a></li>
                    <li class="list-item"><a href="article.html">鸡病流行与饲料的关系</a></li>
                    <li class="list-item"><a href="article.html">鸡的几种保健饲料</a></li>
                    <li class="list-item"><a href="article.html">优质牧场饲料------鸭毛</a></li>
                    <li class="list-item"><a href="article.html">鸡病流行与饲料的关系</a></li>
                    <li class="list-item"><a href="article.html">鸡的几种保健饲料</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--主体结束-->
    <!--列表右侧开始-->
    <div class="wp28 fr">
        <!--品牌招商区-->
        <div class="mt10pb10">
            <h2>品牌招商区</h2>
            <a href="" class="divA"><img src="images/9.jpg" alt="" style="width: 270px;height: 110px;"></a>
            <!--轮播图-->
          <a href="" class="divA"><img src="images/10.gif" alt="" style="width: 270px;height: 110px;"></a>
        </div>
        <!--频道本月排行-->
        <div class="mt10pb10">
            <h2>频道本月排行</h2>
            <span class="pin-more"><a href="" style="color: #999;">更多</a></span>
            <ul>
                <li>[<a href="">农药</a>]<a href="article.html" class="tex">害虫抗性上升如何应对？</a></li>
                <li>[<a href="">肥料</a>]<a href="article.html" class="tex">大棚蔬菜怎样施底肥才合理</a></li>
                <li>[<a href="">农膜</a>]<a href="article.html" class="tex">冬季地膜玉米栽培技术要领</a></li>
                <li>[<a href="">植保技术</a>]<a href="article.html" class="tex">防治扁豆叶点霉斑点病的核心技术</a></li>
                <li>[<a href="">肥料</a>]<a href="article.html" class="tex">选肥不仅重肥效还要看盐效</a></li>
                <li>[<a href="">农膜</a>]<a href="article.html" class="tex">农膜保存方法</a></li>
                <li>[<a href="">农药</a>]<a href="article.html" class="tex">小麦追施拔节孕穗肥不可忽视</a></li>
                <li>[<a href="">肥料</a>]<a href="article.html" class="tex">专家提醒：生长调节剂代替不了农药肥料</a></li>
                <li>[<a href="">种子种苗</a>]<a href="article.html" class="tex">冬季将种子贮藏要八防</a></li>
            </ul>
        </div>
        <!--资讯推荐-->
        <div class="mt10pb10">
            <h2>资讯推荐</h2>
            <span class="pin-more"><a href="" style="color: #FE6400;">更多</a></span>
            <ul>
                <li>
                    <span>♥</span>
                    <a href="article.html">苹果如何销出去？品牌响起来！</a>
                    <div class="imgfont">
                        <a href="article.html">
                            <img src="images/rb1.jpg" alt="" style="width: 120px;height: 68px;">
                        </a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">近期，局部产地苹果出现同比库存偏高，销售困难，成为行业焦点，农业部在全国范围内组织开展苹果电商销售月行动。山西、云南等地多个苹果种植专业合作社的理事长向本刊反映，合作社生产的优质苹果还没销完，...</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <span>♥</span>
                    <a href="article.html">蔬菜销售有技巧</a>
                    <div class="imgfont">
                        <a href="article.html"><img src="images/rb2.png" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">作为菜农来说怎样才能把自己生产出的蔬菜，以较高的价格销售，获得相对较高的纯收益呢？笔者认为，要想使农产品特别是蔬菜等鲜果类产品畅销不费力，除了有良好的市场行情作前提外，还要讲求一定的销售技巧。...</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <span>♥</span>
                    <a href="article.html">农产品营销：3种差异化方法</a>
                    <div class="imgfont">
                        <a href="article.html"><img src="images/yin1.jpg" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">北京的大白菜和济南的大白菜表面没什么区别，超市的猪肉和菜市场的猪肉看上去也没什么区别。在老百姓的眼里，同一品类的农产品看似都一个样，而从事农产品营销的行业人士...</span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <span>♥</span>
                    <a href="article.html">“大数据”智助“大扶贫”</a>
                    <div class="imgfont">
                        <a href="article.html"><img src="images/yin2.jpg" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">贵州省作为全国贫困人口最多、贫困面积最大的省份，是我国脱贫攻坚的主战场。近年来，贵州深入实施国家大数据战略，用大数据助力大扶贫，打通了精准扶贫的经络。谈起运用大数据精准扶贫，贵</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--农技视频-->
       <div class="mt10pb10">
            <H2>农技视频</H2>
            <span class="pin-more"><a href="">更多</a></span>
            <ul>
                <li>
                    <span>☆</span>
                    <a href="train.html">南瓜高效栽培技术一</a>
                    <div class="imgfont">
                        <a href="train.html"><img src="images/1.jpg" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">转眼入伏，由于北方气温较高、光照充足、雨水增多，农作物生长旺盛，杂草、害虫迅速滋...</span>
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: -60px;" class="bofang">
                        <i class="fa fa-play-circle-o  fa-3x" id="iconfont" style="margin-top: -10px;margin-left: 47px"></i>
                    </div>
                </li>
                <li>
                    <span>☆</span>
                    <a href="train.html">苦瓜栽培技术二</a>
                    <div class="imgfont">
                        <a href="train.html"><img src="images/2.jpg" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">苦瓜也是常见的蔬菜，虽然很多人不喜欢那种苦味，但经过多年的培育，很多品种的苦瓜已祛除了苦味，加上苦瓜清热下火的功效较好，所以它在夏季还是非常受欢迎的。很多人都不知道它的是怎么种植的，下面亲农网为你带来苦瓜的种植时间和方法。</span>
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: -60px;" class="bofang">
                        <i class="fa fa-play-circle-o  fa-3x" id="iconfont" style="margin-top: -10px;margin-left: 47px"></i>
                    </div>
                </li>
                <li>
                    <span>☆</span>
                    <a href="train.html">菠萝高效栽培技术一</a>
                    <div class="imgfont">
                        <a href="train.html"><img src="images/3.jpg" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">菠萝盆栽种植时，一定要选择健康的菠萝！因为国内大多数地区的菠萝都是从南方长途运输而来，很多菠萝的叶子都已经干枯，这些菠萝已经不再适合盆栽种植。最好选择那种叶子新鲜，翠绿的菠萝来进行盆栽种植，这样会提高它的成功率。.</span>
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: -60px;" class="bofang">
                        <i class="fa fa-play-circle-o  fa-3x" id="iconfont" style="margin-top: -10px;margin-left: 47px"></i>
                    </div>
                </li>
                <li>
                    <span>☆</span>
                    <a href="train.html">石榴栽培技术二</a>
                    <div class="imgfont">
                        <a href="train.html"><img src="images/6.jpg" alt="" style="width: 120px;height: 68px;"></a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2">石榴在生育季节，需水分充足。旱时应注意适当浇水。大果石榴在雨水少的旱地1年要灌3次水。第一次在冬冻季节，以保护根部免受冻害；第二次花前灌水；第三次在幼果期灌水。栽植后注意挖沟排水。株..</span>
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: -60px;" class="bofang">
                        <i class="fa fa-play-circle-o  fa-3x" id="iconfont" style="margin-top: -10px;margin-left: 47px"></i>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>
<!--尾部-->
<footer>
    <div class="divFt">
        <dl>
        	<dt>首页</dt>
            <dt>关于我们</dt>
            <dt>加入我们</dt>
        </dl>
        <dl>
            <dt>关注我们</dt>
            <dt>新浪微博</dt>
            <dt>服务支持</dt>
            <dt>常见问题</dt>
        </dl>
        <dl>
            <dt>关注我们</dt>
            <dt>新浪微博</dt>
            <dt>服务支持</dt>
            <dt>常见问题</dt>
        </dl>
        <dl>
            <dt>关注我们</dt>
            <dt>新浪微博</dt>
            <dt>服务支持</dt>
            <dt>常见问题</dt>
        </dl>
        <dl>
            <dt>
                <img src="img/code.png" alt="">
            </dt>
        </dl>
    </div>
</footer>
</body>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/train.js}" ></script>
</html>