<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我要问-会员管理中心</title>
    <link rel="stylesheet" th:href="@{/css/toaddData.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="shortcut icon" th:href="@{/images/login.ico}" type="image/x-icon">
    <script  th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/Person-center.js}"></script>

</head>
<body>
<div class="head" >
    <div class="header">
        <div class="header-left" title="慧农在线">
            <a href="index.html">
                <img th:src="@{/img/peasanter.png}"/>
                <b>慧农在线</b>
            </a>
        </div>
        <div class="header-right">
            <a href="login.html">
                <i class="iconfont">&#xe61a;</i>
                <span>个人中心</span>
            </a>
            <!--<a href="register.html">注册</a>-->
            <a id="qr-code">
                <span>手机端</span>
                <i class="iconfont">&#xe622;</i>
            </a>
        </div>
        <div class="qr-code">
            <img th:src="@{/img/code.png}"/>
        </div>
        <div class="search">
            <form action="">
                <input type="text" name="" id="" value="" placeholder="请输入您要搜索的内容..."/>
                <button type="submit"></button>
            </form>
        </div>
    </div>
</div>
<div class="sty">
    <div class="sty2">
        <h1>个人中心</h1>
        <h1 class="sty3"><a th:href="@{/user/toindex}">首页</a></h1>
        <h2 class="sty4"><a th:href="@{/LogUserController/cancellation}">退出</a></h2>
        <span><a th:href="@{area.html}"  class="aaa">地区排行</a></span>
        <span><a th:href="@{personal.html}"class="aaa">个人排行</a></span>
    </div>
</div>
<div class="kuang">
    <div class="container">

        <div class="acount"><a th:href="@{/UserManagementController/information}">账户设置</a></div>

        <div class="collection"><a th:href="@{/user/toaddData}">我的庄稼医院</a></div>
        <div class="trangle" style="margin-left: 140px"></div>
        <div class="content">
           <div class="side">
               <div>我的庄稼医院</div>
               <ul>
                   <li style="background-color: #599524;"><a th:href="@{/user/question}">我要问</a></li>
                   <li><a th:href="@{/user/viewquestion}">我问的</a></li>
                   <li><a th:href="@{/CollectionController/Viewcollection}">我的收藏</a></li>
               </ul>
           </div>
            <!--内容区域-->
            <div class="right-kuang">
                <div class="right-content">
                    <div class="font">
                        <div style="width: 600px;"><i class="iconfont">&#xe667;</i>温馨提醒：</div>
                        <div style="width: 600px">专家没有实地指导，仅是主观描述，专家可给的帮助建议仅供参考，具体以实际情况在当地部门指导下进行
                            <i class="iconfont">&#xe67b;</i>
                        </div>
                    </div>
                    <form th:action="@{/user/addData}" enctype="multipart/form-data" method="post">
                    <div class="qusetion">
                    	<div>

                            <span >问题类型: </span>
                            <select id="city" >
                                <option selected>请选择</option>
                                <option th:each="moudel : ${moudels}" th:value="${moudel.mouldeId}"  th:text="${moudel.moduleName}">请选择</option>
                            </select>

                    	</div>
                        <p style="margin-bottom: 10px">问题描述：</p>
                        <textarea name="contentsTitle" id="text2">
                        </textarea>
                        <input type="hidden" value="2" name="dataLevle">
                        <p style="color:#999;font-size: 12px">注：详细说明问题的情况，描述得越仔细，获得准确回答的机会越大</p>
                    </div>
                    <div class="picture">
                        <p style="margin-bottom: 10px">上传图片：</p>
                        <div class="upload" style="border: none">
                            <span class="sl-custom-file">
                                <!--<input type="button" value="上传" class="btn-file1"/>-->
                                <!--<input type="file" class="ui-input-file"  name="multipartFile"/>-->
                                <div class="all-photo" onclick="photoup()">
                                    <div class="all-photo-right">
                                        <img th:src="@{/img/null.png}" id="imgshow" style="width: 100px;height: 100px;"/>
                                    </div>
                                </div>
                                <!--<input type="text" style="display: none" name="userId" th:value="${user.userId}">-->
                                <input id="fileds" style="display: none;" name="multipartFile" type="file" accept="image/*" value="上传图片" />
                                <input type="button" th:value="上传" class="upload_img">
                            </span>
                        </div>
                        <!--<span>-->
                        <input type="submit" value="完成" class="finish">
                        <!--</span>-->
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function photoup() {
        //console.log('14212');
        $('#fileds').click();
        $('#fileds').change(function() {
            //获取input file的files文件数组;
            //$('#filed')获取的是jQuery对象，.get(0)转为原生对象;
            //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
            var file = $('#fileds').get(0).files[0];
            //创建用来读取此文件的对象
            var reader = new FileReader();
            //使用该对象读取file文件
            reader.readAsDataURL(file);
            //读取文件成功后执行的方法函数
            reader.onload = function(e) {
                //读取成功后返回的一个参数e，整个的一个进度事件
                //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
                //的base64编码格式的地址
                $('#imgshow').get(0).src = e.target.result;
            }
        })
    }

</script>
</html>