<!--<!DOCTYPE html>-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>慧农-农技培训</title>
		<link rel="shortcut icon" type="img/x-icon" href="img/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/train.css" />
		<link rel="stylesheet" type="text/css" href="css/header.css" />
	</head>
	<body>
		<div class="head" >
			<div class="header">
				<div class="header-left">
					<a href="index.html">
						<img src="img/peasanter.png"/>
						<b>慧农在线</b>
					</a>
				</div>
				<div class="header-right">
					<a href="Person-center.html">
						<i class="iconfont">&#xe61a;</i>
						<span>个人中心</span>
					</a>
				
					
					<a id="qr-code">
						<span>手机端</span>
						<i class="iconfont">&#xe622;</i>
					</a>
				</div>
					<div class="qr-code">
						<img src="img/code.png"/>
					</div>
				<!--<div style="text-align:center;clear:both">-->
				<div class="search">
					<form action="">
						<input type="text" name="" id="" value="" placeholder="请输入您要搜索的内容..."/>
						<button type="submit"></button>
					</form>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="first-section">
				<h3>新型庄稼医院展示简版</h3>
				<hr />
				<img src="images/3.jpg"/>
				<div class="course-info">
					<ul>
						<li>
							所属类别: 水果
							<span></span>
						</li>
						<li>
							课程类型: 种植
							<span></span>
						</li>
						<li>
							课程状态:完结
							<span></span>
						</li>
						<li>
							开始时间:2018-1-3
							<span></span>
						</li>
					</ul>
					<div class="course-other">
						<span>
							<b>13</b>学员加入学习
						</span>
						<a href="pcvideo.html">立即学习</a>
						<a href="javascript:;">收藏</a>
					</div>
				</div>
			</div>
			<div class="second-section">
				<h3>讲师提示</h3>
				<hr />
				<div class="mark-l">
					<i class="iconfont">&#xe60e;</i>
				</div>
				<div class="prompt">
					菠萝香味浓郁，甜酸适口，很多朋友都爱吃。那你知道吗？菠萝也能种成盆栽哦。菠萝盆栽不仅可以美化家居环境，又能净化空气，关键长出来的菠萝还能吃。下面一起来看看小编是如何盆栽菠萝的吧！
				</div>
				<div class="mark-r">
					<i class="iconfont" style="transform: rotateX(90deg);">&#xe60e;</i>
				</div>
			</div>
			<div class="third-section">
				<h3>课程简介</h3>
				<hr />
				<div class="course">
					首先来扯一下题外话，今年三月的时候我买了两个大菠萝，突然想起用顶部的那两个大冠芽来水培，就这样种了下来，到今天只剩下一个，根已经长到十厘米长了。一直想写一个水培菠萝的教程，却被我找到了外国博客关于菠萝种植的更详细教程，于是就一同放上来给大家参考吧！
				</div>
			</div>
		</div>
		<!--尾部-->
		<footer>
		    <div class="divFt">
		        <dl>
		        	<dt>首页</dt>
		            <dt>关于我们</dt>
		            <dt>加入我们</dt>
		        </dl>
		        <dl>
		            <dt>关注我们</dt>
		            <dt>新浪微博</dt>
		            <dt>服务支持</dt>
		            <dt>常见问题</dt>
		        </dl>
		        <dl>
		            <dt>关注我们</dt>
		            <dt>新浪微博</dt>
		            <dt>服务支持</dt>
		            <dt>常见问题</dt>
		        </dl>
		        <dl>
		            <dt>关注我们</dt>
		            <dt>新浪微博</dt>
		            <dt>服务支持</dt>
		            <dt>常见问题</dt>
		        </dl>
		        <dl>
		            <dt>
		                <img src="img/code.png"/>
		            </dt>
		        </dl>
		    </div>
		</footer>
	</body>
	<script type="text/javascript" src="js/jquery.min.js" ></script>
	<script type="text/javascript" src="js/train.js" ></script>
</html>
