<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>所在地-农技培训平台-慧农移动在线</title>
		<link rel="stylesheet" href="CSS/address.css">
		<link rel="shortcut icon" type="img/x-icon" href="images/login.ico"/>
		<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<script type="text/javascript" src="JS/jquery.min.js" ></script>
		 <script src="js/distpicker.js"></script>
	</head>
	<body>
		<div class="header">
				<span style="padding-left: 4%;"><a href="ipindex.html"><i class="iconfont">&#xe6b4;</i></a></span>
				<span style="margin-left: 34%;">所在地</span>
				<span style="margin-right: 4%;float: right;"><a href="">保存</a></span>
		</div>
		<div class="area-sty">
			<div data-toggle="distpicker" style="display:inline-block;">
		      <select data-province="---- 选择省 ----"></select>
		      <select data-city="---- 选择市 ----"></select>
		      <select data-district="---- 选择区 ----"></select>                                                     
		    </div>
		</div>				
	                   
	</body>
</html>
