<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>资讯推荐-农技培训平台-慧农移动在线</title>
		<link rel="stylesheet" th:href="@{/ipcss/info-recmd.css}">
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/images/login.ico}"/>
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<script type="text/javascript" th:src="@{/ipjs/jquery.min.js}" ></script>
	</head>
	<body>
		<div class="header">
			<span style="padding-left: 4%;"><a th:href="@{/user/toipindex}" id="back-ipindex"><i class="iconfont">&#xe6b4;</i></a></span>
			<span style="margin-left: 35%;">资讯推荐</span>
			<!--<span style="margin-right: 4%;float: right;"><input type="submit" value="保存" class="btn-keep"/></span>-->		
		</div>
		<span class="blank"></span>
		<!--资讯-->
		<div class="information">
			<ul>
				<li th:each="datas:${datas}">
					<span>♥</span>
                    <a th:href="'/user/ipviewartical/'+${datas.dataId}" th:text="${datas.contentsTitle}">2018年5~6份“植保之星”服务排行榜</a>
                    <div class="imgfont">
                        <a th:href="'/user/ipviewartical/'+${datas.dataId}" >
                            <img th:src="'/Path'+${datas.pictureAddress}" alt="" style="width: 120px;height: 68px;">
                        </a>
                        <div class="imgrt">
                            <p>
                                <i class="fa fa-file-text-o 1g"></i>
                                <span class="font2" th:text="${datas.contents}">转眼入伏，由于北方气温较高、光照充足、雨水增多，农作物生长旺盛，杂草、害虫迅速滋...</span>
                            </p>
                        </div>
                    </div>
				</li>
			</ul>
		</div>
	</body>
</html>
