<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>视频-农技培训平台-慧农在线</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="shortcut icon" type="img/x-icon" th:href="@{/img/favicon.ico}"/>
		<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/ipcss/video.css}" />
		<script th:src="@{/JS/jquery.min.js}"></script>
	</head>
	<body>
		<div class="header">
				<span style="padding-left: 4%;"><a th:href="@{/user/toipindex}" id="back-ipindex"><i class="iconfont">&#xe6b4;</i></a></span>
				<span style="margin-left: 34%;">视频播放</span>
		</div>
		
			<div  class="oDiv">
	    		<video style="width:100%;height:100%;object-fit:fill" controls="controls" autoplay="autoplay">
	    			<source src="media/3分钟学会用菠萝种植菠萝-国语高清.mp4" type="video/mp4"></source>
	    			当前浏览器不支持 video直接播放，点击这里下载视频： <a href="myvideo.webm">下载视频</a>
	    		</video>
    		</div>

		<div class="video_count">
			<a th:href="@{/VideoController/toPcvideo(videoAddress=${video.videoAddress})}">立即学习</a>
			<a href="javascript">收藏</a>
		</div>
		<div class="teacher">
			<b>讲师提示</b>
			<p th:text="${video.authorSuggests}">主要害虫：亚洲玉米螟、蚜虫、地下害虫等，其他害虫还有甜菜夜蛾、斜纹夜蛾、棉铃虫、桃蛀螟和大螟等也是影响甜糯玉米生产的重要害虫，一般与玉米螟混合发生，不需单独防治。</p>
		</div>
		<div class="teacher">
			<b>课程简介</b>
			<p th:text="${video.videoIntroduction}">主要害虫：亚洲玉米螟、蚜虫、地下害虫等，其他害虫还有甜菜夜蛾、斜纹夜蛾、棉铃虫、桃蛀螟和大螟等也是影响甜糯玉米生产的重要害虫，一般与玉米螟混合发生，不需单独防治。</p>
		</div>

	</body>
	<script th:inline="javascript">
        var clientw = document.body.clientWidth;
        var clienth = document.body.clientHeight - 20;
        $(".oDiv").css("width", clientw+'px');
        $(".oDiv").css("height", clienth+'px');

	</script>
</html>
